.episodes {
    margin-bottom: 260px;
}

.episodes_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 64px;
}

.episodes_h {
    font-family: var(--dm);
    font-size: 64px;
    font-weight: 400;
    line-height: 79px;
    letter-spacing: 2px;
    color: var(--w);
}

.episodes_btn {
    padding: 12px 18px;
    align-self: flex-end;
}

.boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 60px;
}

.box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--b);
    padding: 40px;
    border-radius: 32px;
}

.box_desc {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: flex-start;
    flex-direction: column;
    margin-left: 53px;
}

.about {
    padding: 0 16px;
    margin-bottom: 48px;
}

.box_P {
    font-family: var(--dm);
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    color: var(--wb);
    margin-bottom: 18px;
}

.box_h {
    font-family: var(--dm);
    font-size: 64px;
    font-weight: 400;
    line-height: 70px;
    letter-spacing: 2px;
    color: var(--w);
    margin-bottom: 28px;
}

.box_h1 {
    max-width: 701px;
}

.box_h2 {
    max-width: 661px;
}

.box_h3 {
    max-width: 671px;
}

.box_p {
    font-family: var(--dm);
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    text-align: left;
    color: var(--wh);
    margin-bottom: 18px;
}

.box_p1 {
    max-width: 757px;
}

.box_p1 {
    max-width: 773px;
}

.box_p1 {
    max-width: 767px;
}

.box_btn {
    padding: 12px 18px;
}

@media screen and (max-width:1230px) {
    .box_h1 {
        max-width: none;
    }

    .box_h2 {
        max-width: none;
    }

    .box_h3 {
        max-width: none;
    }

    .box_img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}

@media screen and (max-width:1100px) {
    .about {
        margin-bottom: 28px;
    }
}

@media screen and (max-width:980px) {
    .box {
        flex-direction: column;
        gap: 20px;
    }

    .box_img {
        object-fit: cover;
        height: 90%;
        width: 90%;
    }
}

@media screen and (max-width:830px) {
    .episodes_top {
        flex-direction: column;
        gap: 20px;
    }

    .episodes_btn {
        align-self: auto;
    }

    .episodes{
        margin-bottom: 170px;
    }
}

@media screen and (max-width:580px) {
    .episodes_h {
        font-size: 56px;
    }

    .box_h {
        font-size: 50px;
        line-height: 64px;
    }

    .box_p {
        font-size: 18px;
    }

    .box_desc {
        margin-left: 20px;
    }
}

@media screen and (max-width:490px) {
    .episodes_h {
        font-size: 50px;
    }

    .box {
        padding: 40px 20px;
    }

    .box_h {
        font-size: 40px;
        line-height: 50px;
    }

    .box_p {
        font-size: 16px;
    }

    .box_btn {
        padding: 12px 16px;
    }

    .episodes_btn {
        padding: 12px 14px;
    }

    .btn {
        font-size: 16px;
    }
}

@media screen and (max-width:430px) {
    .episodes_h {
        font-size: 40px;
    }

    .box_h {
        font-size: 36px;
        line-height: 44px;
    }

    .box_p {
        font-size: 14px;
        line-height: 28px;
    }

    .box_btn {
        padding: 10px 12px;
    }

    .btn {
        font-size: 14px;
    }
}

@media screen and (max-width:360px) {
    .episodes_h {
        font-size: 34px;
    }

    .about {
        font-size: 16px;
    }

    .box_P {
        font-size: 14px;
    }

    .box_h {
        font-size: 32px;
        line-height: 40px;
    }

    .btn {
        font-size: 12px;
        padding: 8px 10px;
    }
}