.feedbacks {
    margin-bottom: 200px;
}

.feedbacks_wrap {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}

.feedback {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background: var(--b);
    padding: 54px 5px 51px 50px;
    width: 423px;
    height: 321px;
    border-radius: 32px;
    flex-basis: 30%;
}

.feedback_h {
    font-family: var(--dm);
    font-size: 36px;
    font-weight: 400;
    line-height: 43px;
    text-align: left;
    color: var(--w);
    margin: 21px 0 19px;
    max-width: 313px;
}

.feedback_h-last{
    max-width: 317px;
}

.feedback_p {
    font-family: var(--dm);
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    text-align: left;
    color: var(--wh);
}

@media screen and (max-width:1330px){
    .feedback{
        flex-basis: 35%;
    }
}

@media screen and (max-width:1100px){
    .feedbacks_wrap{
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .feedback{
        flex-basis: auto;
    }
}

@media screen and (max-width:450px){
    .feedback{
        width: 353px;
        height: 300px;
    }

    .feedback_h{
        font-size: 32px;
        line-height: 38px;
    }

    .feedback_p{
        font-size: 22px;
    }
}

@media screen and (max-width:380px){
    .feedback{
        width: 280px;
        height: 290px;
    }

    .feedback_h{
        font-size: 25px;
        line-height: 36px;
    }

    .feedback_p{
        font-size: 20px;
    }
}